.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fac-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.App-header {
  background: white;
  /* background: rgb(40, 93, 172); */
  height: 15px;
  padding: 15px;
  width: 100%;
  position: fixed;
  border-bottom: 1px black solid;
}

.App-header a {
  text-decoration: none;
  color: grey;
  padding: 12px;
}

.App-header a:hover {
  background: white;
  color: rgb(96, 97, 99);
  transition: all 0.3s ease;
  border-bottom: 3px black solid;
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}
.fac-list,
.loc-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 20px;
  max-width: 100vw;
  margin: 0 auto;
}

.loc-list {
  margin-bottom: 30%;
}

.fac-list ul {
  max-width: 500px;
}

.facility-btn:hover,
.profile-btn:hover {
  background: white;
  color: grey;
  font-weight: 900;
  transition: all 0.3s ease;
}

.detail-header img,
ul img {
  border-radius: 15px;
  max-height: 30vh;
  max-width: 22vw;
  margin-top: 2%;
  object-fit: cover;
}

.detail-header {
  margin-top: 3%;
}

.detail-header img:hover,
ul img:hover {
  transform: scale(1.01);
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #797272a4;
}

ul img:hover {
  cursor: pointer;
}

ul button,
.profile-btn,
.crt-fac-btn {
  background: white;
  border-radius: 5px;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
}

.profile-btn,
ul button:hover {
  transform: scale(1.06);
}
.fac-name {
  font-size: larger;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(90, 88, 88);
  font-family: 'Raleway', sans-serif;
}
li {
  list-style-type: none;
  font-family: 'Kanit', sans-serif;
}

.create-form {
  max-width: 500px;
  max-height: 100%;
  margin-top: 5%;
  padding: 2rem;
  height: 50%;
  background-color: rgba(189, 200, 221, 0.4);
  display: inline-block !important;
  border-radius: 25px;
  margin-bottom: 24%;
  opacity: 0.7;
}
.create-form h3 {
  color: rgb(96, 97, 99);
}
.create-form input {
  display: block;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}

.foot-cont {
  width: 100%;
}
.footer {
  background: rgb(248, 248, 248);
  height: 10px;
  display: flex;
  text-decoration: none;
  padding: 25px;
  width: 100%;
  justify-content: center;
  margin: 0;
}

.fa {
  padding: 15px;
  font-size: 15px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  color: grey;
  margin-top: -10px;
}

.fa:hover {
  transition: all 0.3s ease;
  transform: scale(1.5);
}

.fa fa-github {
  text-align: center;
}

@media (max-width: 390px) {
  .fac-list,
  .loc-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15%;
  }
  .create-form {
    margin-left: 15%;
    margin-bottom: 10%;
    margin-top: 20%;
  }
  .create-form ul {
    padding: 26px;
  }
}

.detail {
  margin-bottom: 13%;
}
