.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fac-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.App-header {
  background: rgb(40, 93, 172);
  height: 15px;
  padding: 15px;
  width: 100%;
  position: fixed;
}

.App-header a {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.App-header a:hover {
  background: white;
  color: rgb(40, 93, 172);
}
.App-link {
  color: #61dafb;
}
.fac-list {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  max-width: 100vw;
  margin: 0 auto;
}

.fac-list ul {
  max-width: 500px;
}

ul img {
  border-radius: 15px;
  max-height: 40vh;
  max-width: 45vw;
  margin-top: 2%;
}

ul button {
  background: white;
  border-radius: 5px;
  padding: 2px;
  margin-left: 5px;
}
.fac-name {
  font-size: larger;
  font-weight: bolder;
}
li {
  list-style-type: none;
}

.create-form {
  max-width: 500px;
  max-height: 100%;
  margin-top: 5%;
  padding: 2rem;
  height: 50%;
  background-color: rgba(220, 230, 247, 0.4);
  display: inline-block !important;
  border-radius: 25px;
}
.create-form input {
  display: block;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}

.foot-cont {
  width: 100%;
}
.footer {
  background: rgb(40, 93, 172);
  height: 10px;
  display: flex;
  text-decoration: none;
  padding: 25px;
  width: 100%;
  color: white;
  justify-content: center;
  margin: 0;
}

.fa {
  padding: 15px;
  font-size: 15px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.fa fa-github {
  text-align: center;
}

@media (max-width: 390px) {
  .fac-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 15%;
  }
  ul img {
  }
}
